PORT=5005
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/electromart?retryWrites=true&w=majority

JWT_SECRET=change-me-to-a-long-random-string
SESSION_SECRET=change-me-session-secret

CLIENT_URL=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL_USER=
EMAIL_PASS=

PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
